<h1>Bem-vindo ao Sistema de Vendas</h1>
<h2>Opções Disponíveis:</h2>
<ul>
  <li><%= link_to "Cadastrar Novo Cliente", new_cliente_path %></li>
  <li><%= link_to "Cadastrar Novo Produto", new_produto_path %></li>
  <li><%= link_to "Registrar Nova Venda", new_venda_path %></li>
  <li><%= link_to 'Clientes', clientes_path %></li>
  <li><%= link_to 'Produtos', produtos_path %></li>
  <li><%= link_to 'Vendas', vendas_path %></li>
</ul>